<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org//dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qwx.dao.provider.ProviderMapper">

    <!--查询全部供应商数据-->
    <select id="ProviderList" resultType="Provider">
        select * from smbms_provider
    </select>

    <!--根据供应商名称查询供应商-->
    <select id="ProviderListByName" resultType="Provider">
        select * from smbms_provider where proName like CONCAT('%',#{proName},'%')
    </select>

    <!--添加供应商-->
    <insert id="addProvider" parameterType="Provider">
        INSERT INTO `smbms`.`smbms_provider` (`proCode`,`proName`,`proDesc`,`proContact`,`proPhone`,`proAddress`,`proFax`,`createdBy`,`creationDate`)
        VALUES(#{proCode},#{proName},#{proDesc},#{proContact},#{proPhone},#{proAddress},#{proFax},#{createdBy},#{creationDate})
    </insert>

    <update id="updateProvider" parameterType="Provider">
        UPDATE `smbms`.`smbms_provider`
        <trim suffix="where `id`=#{id}" suffixOverrides="," prefix="set">
            <if test="proCode!=null and proCode!=''">
                `proCode` = #{proCode},
            </if>
            <if test="proName!=null and proName!=''">
                `proName` = #{proName},
            </if>
            <if test="proDesc!=null and proDesc!=''">
                `proDesc` = #{proDesc},
            </if>
            <if test="proContact!=null and proContact!=''">
                `proContact` = #{proContact},
            </if>
            <if test="proPhone!=null and proPhone!=''">
                `proPhone` = #{proPhone},
            </if>
            <if test="proAddress!=null and proAddress!=''">
                `proAddress` = #{proAddress},
            </if>
            <if test="proFax!=null and proFax!=''">
                `proFax` = #{proFax},
            </if>
            <if test="modifyDate!=null and modifyDate!=''">
                `modifyDate` = #{modifyDate},
            </if>
            <if test="modifyBy!=null and modifyBy!=''">
                `modifyBy` = #{modifyBy}
            </if>
        </trim>
    </update>

    <delete id="delProviderById">
        delete from smbms_provider where id=#{id}
    </delete>

</mapper>
