<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org//dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qwx.dao.user.UserMapper">
    <!--当数据库中的字段信息与对象的属性不一致时通过resultMap来映射-->
    <resultMap id="userList" type="User">
        <result property="userRoleName" column="roleName"/>
    </resultMap>

    <!--查询用户列表（参数：对象入参）-->
    <select id="getUserList" resultMap="userList" parameterType="User">
        select u.*,r.roleName from smbms_user u,smbms_role r
        where u.userName like CONCAT('%',#{userName},'%')
        and u.userRole=#{userRole} and u.userRole=r.id
    </select>

    <!--查询全部供应商数据-->
    <select id="QueryList" resultType="Provider">
        select * from smbms_provider
    </select>


    <insert id="add" parameterType="User">
        insert into smbms_user (userCode,userName,userPassword,gender,birthday,phone,address,userRole,createdBy,creationDate)
        values(#{userCode},#{userName},#{userPassword},#{gender},#{birthday},#{phone},#{address},#{userRole},#{createdBy},#{creationDate})
    </insert>

    <update id="updateUser" parameterType="User">
        update smbms_user
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="userCode!=null">userCode=#{userCode},</if>
            <if test="userName!=null"> userName=#{userName},</if>
            <if test="userPassword!=null"> userPassword=#{userPassword},</if>
            <if test="gender!=null"> gender=#{gender},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="address!=null"> address=#{address},</if>
            <if test="userRole!=null">userRole=#{userRole},</if>
            <if test="birthday!=null"> birthday=#{birthday}</if>
            <if test="modifyBy!=null">modifyBy=#{modifyBy}</if>
            <if test="modifyDate!=null"> modifyDate=#{modifyDate},</if>
        </trim>
    </update>

    <!--修改当前用户密码-->
    <update id="updatePwd" parameterType="User">
        update smbms_user set userPassword=#{userPassword} where id=#{id}
    </update>

    <!--根据ID删除用户-->
    <delete id="delById" parameterType="int">
        delete from smbms_user where id=#{id}
    </delete>
</mapper>
